<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
        {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .bg-light{
        background-color:#008080 !important;}
        .dropdown-menu{
        background-color:#008080 !important;}
        .navbar{
        height:80px !important;}
        .bnavbar{
        height:70px !important;
        background-color:#008080 !important;
        }
    </style>
</head>
<body>
        <!--  Navbar started -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
            <a class="navbar-brand" href="#">
                <img src="https://cdn3.iconfinder.com/data/icons/medical-2-1/512/student-512.png" width="30" height="30" alt="">
            </a>
            <a style="font-weight:bold !important;" class="navbar-brand" href="#">Konoha Academy</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                 <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Courses
                     </a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                 <a class="dropdown-item" href="#">Python</a>
                   <a class="dropdown-item" href="#">PHP</a>
                 <a class="dropdown-item" href="#">Java</a>
               <a class="dropdown-item" href="#">C#</a>
             </div>
                 </li>
              <li class="nav-item">
            <a class="nav-link" href="#">Our Team</a>
             </li>
           <li class="nav-item">
           <a class="nav-link" href="#">Contact</a>
           </li>
            </ul>
                <ul class="navbar-nav ml-auto">
                 <li class="nav-item active">
                  <a class="nav-link" href="#">Login</a>
                </ul>
         </div>
        </nav>
<!--Navbar ended -->
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <!-- Footer started -->

        <div class="bnavbar">
            <center>
                <h3>&copy;devcentos</h3>
            </center>
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>