{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div style="margin-top:50px !important;
         position:justify !important;
      " class="row">
  <div class="col-sm-6">
    <div class="card">
        <img class="card-img-top" src="{% static 'img/academy.png' %}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card">
      <form action="">
        <div class="form-group">
        {{ myform }}<br>
        <input class="btn btn-success " type="submit" value="Sign Up">
        </div>
      </form>
    </div>
  </div>
</div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid amet, atque cumque cupiditate debitis delectus eius esse expedita harum labore modi nam nemo nostrum perferendis placeat provident similique velit?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum cupiditate dolorem, doloribus ducimus eius esse impedit, iusto pariatur quae quibusdam, repellat reprehenderit sint tenetur vitae? Adipisci eaque enim illum.
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid amet, atque cumque cupiditate debitis delectus eius esse expedita harum labore modi nam nemo nostrum perferendis placeat provident similique velit?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum cupiditate dolorem, doloribus ducimus eius esse impedit, iusto pariatur quae quibusdam, repellat reprehenderit sint tenetur vitae? Adipisci eaque enim illum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid amet, atque cumque cupiditate debitis delectus eius esse expedita harum labore modi nam nemo nostrum perferendis placeat provident similique velit?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum cupiditate dolorem, doloribus ducimus eius esse impedit, iusto pariatur quae quibusdam, repellat reprehenderit sint tenetur vitae? Adipisci eaque enim illum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid amet, atque cumque cupiditate debitis delectus eius esse expedita harum labore modi nam nemo nostrum perferendis placeat provident similique velit?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum cupiditate dolorem, doloribus ducimus eius esse impedit, iusto pariatur quae quibusdam, repellat reprehenderit sint tenetur vitae? Adipisci eaque enim illum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquid amet, atque cumque cupiditate debitis delectus eius esse expedita harum labore modi nam nemo nostrum perferendis placeat provident similique velit?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias cum cupiditate dolorem, doloribus ducimus eius esse impedit, iusto pariatur quae quibusdam, repellat reprehenderit sint tenetur vitae? Adipisci eaque enim illum.
{% endblock %}